#imgCarousel1, #imgCarousel2, #imgCarousel3 {
  width: 100%;
}

#navigation{
  background-color: rgba(0, 191, 217, 0.8);
}

#carouselExampleSlidesOnly{
  margin-top: 75px;
}

#mainContact, #mainTarif{
  margin-top:75px;
}

tr>td{
  text-align: center;
}

#mainTarif h2{
  text-align: center;
}
